<div class="ui menu">
  <div class="ui category search item">
    <div class="ui transparent icon input">
      <input class="prompt" type="text" placeholder="Search another movie..." ng-model="search">
      <i class="search link icon" ng-click="runSearch(search)"></i>
    </div>
  </div>
</div>

<div class="ui internally celled centered grid">
  <div class="row">
    <div class="three wide column">
      <img class="ui small rounded image" ng-src="{{view.movie.Poster}}">
    </div>
    <div class="ten wide column">
      <h1>{{view.movie.Title}}</h1>
      <p>{{view.movie.Plot}}</p>
      <p>Rated: {{view.movie.Rated}} | IMDB Rating: {{view.movie.imdbRating}} | IMDB Votes: {{view.movie.imdbVotes}}</p>
      <p>Actors: {{view.movie.Actors}}</p>
    </div>
  </div>
</div>
